
/*----------------------------------------- GLOBAL -----------------------------------------*/


html {
  font-family: 'MuseoModerno', normal, sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-size: 14px;
}

img {
  max-width: 100%;
}

a {
  color: #C70101;
}

h2 {
  font-weight: 700;
}

.heading {
  padding-top: 100px;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

/* .heading {
  padding-top: 100px;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px;
} */



/*----------------------------------------- HEADER -----------------------------------------*/

.button-container a {
  color: white;
}


.header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 950px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.logo,
.info,
.call {
  padding: 20px;
}

.call p {
  font-size: 18px;
  font-weight: 700;
}

.call button {
  padding: 5px;
  font-weight: 500;
  font-size: 12px;
  width: 153px;
  height: 32px;
}


.main {
  /* width: 1050px; */
  margin-left: auto;
  margin-right: auto;
}

.first-container,
.benefits-container,
.consult-container,
.carousel-container,
.catalog-container,
.reviews-container {
  margin: auto;
  width: 1000px;
}


.button-container {
  text-align: end;
}

.title {
  padding-top: 160px;
  padding-bottom: 15px;
  text-align: end;
  text-transform: uppercase;
}

.title h1 {
  font-size: 42px;
}

.title p {
  font-size: 24px;
}

.icons {
  list-style-type: none;

  display: flex;
  justify-content: flex-end;
}

.icons-item {
  padding: 35px;
  text-align: center;
}

/*----------------------------------------- BENEFITS -----------------------------------------*/


.benefits {
  height: 470px;
  background-color: #F6F6F6;
}

.benefits-heading {
  margin-bottom: 65px;
}

.benefits-list {
  list-style-type: none;

  display: flex;
  justify-content: space-around;
}

.benefits-list-item {
  text-align: center;
}

.benefits-list-item h3 {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 20px;
}



.first-screen {
  background-image: url(../assets/images/backgrounds/bg.png);
  background-repeat: no-repeat;
  /* background-size: 100vw; */
  height: 650px;
  color: white;
}

/*----------------------------------------- CONSULT -----------------------------------------*/



.consult {
  background-image: url(../assets/images/backgrounds/bg2.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  color: white;
  height: 680px;
}

.consult h2 {
  text-align-last: left;
}


.consult-container {
  text-align: left;
  
}

.consult-container p {
  font-size: 20px;
  margin-bottom: 36px;
}

.consult-container input {
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin: 5px 0px;
  width: 270px;

}

.forms {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
  justify-items: start;
}



.forms button {
  width: 300px;
  
}




/*----------------------------------------- CAROUSEL -----------------------------------------*/




.carousel {
  display: flex;
  align-items: center;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.watch-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 303px);
  grid-template-rows: repeat(2, 442px);
  grid-gap: 17px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.watch-list-item {
  border: 1px solid #E8E8E8;

}


/*----------------------------------------- CATALOG -----------------------------------------*/


.catalog {
  margin: auto;
}

.catalog-heading {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 60px;
}

.catalog-menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
}


.catalog-menu-item {
  transform: skewX(-30deg);
  margin: 10px;
  background-color: #C70101;

}

.catalog-btn {
  background-color: white;
  border: 1px solid #D0D0D0;
  padding: 17px 30px;
  width: 220px;
  text-transform: uppercase;

}

.btn-fitness {
  background-color: #C70101;
  color: white;
  border: none;
}

.btn-text {
  display: block;
  transform: skewX(30deg);
}

/* .btn-fitness {
  background-color: #C70101;
} */

.watch-list-item {
  box-sizing: border-box;
  width: 303px;
  height: 442px;
}

.watch-list-item img {
  margin-top: 20px;
}

.watch-list-item h3 {
  font-size: 16px;
  font-weight: 700;
}

.watch-list-item hr {
  width: 80%;
  color: #E8E8E8;
  margin: 20px;
}

.buy {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.buy button {
  width: 135px;
  height: 44px;
  padding: 0;
}

.prices {
  text-align: left;
  margin: 0;
}

.prices p:first-child {
  text-decoration: line-through;
  color: #555555;
  margin: 0;
}

.prices p:last-child {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}



/*------------------------------- Отзывы --------------------------------*/

.reviews-list {
  display: grid;
  grid-template-columns: 1fr 170px 700px 1fr;
  grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;
  box-sizing: border-box;
  grid-template-areas: 
    ". pic1 text1 ."
    ". pic2 text2 ."
    ". pic3 text3 .";
}

.review-1-pic {
  grid-area: pic1;
}

.review-1-text {
  grid-area: text1;
}

.review-2-pic {
  grid-area: pic2;

}

.review-2-text {
  grid-area: text2;

}

.review-3-pic {
  grid-area: pic3;

}

.review-3-text {
  grid-area: text3;

}

.btn {
  background-color: #C70101;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  padding: 20px;

}

.companies {
  font-family: 'MuseoModerno', cursive;
}

.custom {
  font-family: 'MuseoModerno', cursive;
  color: #C70101;
}

.contacts {
  color: white;
  background-color: #C70101;
}

/* .section {
  width: 950px; 
  height: auto;
   border: 1px solid black; 
} */





.map {
  z-index: 0;
}

.footer {
  background-color: #C70101;
  position: absolute;
  /* z-index: 1; */
  left: 730px;
  /* bottom: 360px; */
  width: 460px;
  height: 270px;
}