
/*----------------------------------------- GLOBAL -----------------------------------------*/


html {
  font-family: 'MuseoModerno', normal, sans-serif;
}

body {
  margin: 0;
  background-color: #F6F6F6;
  font-size: 14px;
}

img {
  max-width: 100%;
}

a {
  color: #C70101;
}

h2 {
  font-weight: 700;
}

/*----------------------------------------- HEADER -----------------------------------------*/

.button-container a {
  color: white;
}


.header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 950px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.logo,
.info,
.call {
  padding: 20px;
}

.call p {
  font-size: 18px;
  font-weight: 700;
}

.call button {
  padding: 5px;
  font-weight: 500;
  font-size: 12px;
  width: 153px;
  height: 32px;
}


.main {
  /* width: 1050px; */
  margin-left: auto;
  margin-right: auto;
}

.first-container,
.benefits-container,
.consult-container,
.carousel-container,
.catalog-container,
.reviews-container {
  margin: auto;
  width: 1000px;
}


.button-container {
  text-align: end;
}

.title {
  padding-top: 160px;
  padding-bottom: 15px;
  text-align: end;
  text-transform: uppercase;
}

.title h1 {
  font-size: 42px;
}

.title p {
  font-size: 24px;
}

.icons {
  list-style-type: none;

  display: flex;
  justify-content: flex-end;
}

.icons-item {
  padding: 35px;
  text-align: center;
}

.benefits {
  height: 470px;
}

.benefits-list {
  list-style-type: none;

  display: flex;
  justify-content: space-around;
}

.benefits-list-item {
  text-align: center;
}

.benefits-list-item h3 {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 20px;
}



.first-screen {
  background-image: url(../assets/images/backgrounds/bg.png);
  background-repeat: no-repeat;
  /* background-size: 100vw; */
  height: 650px;
  color: white;
}

/*----------------------------------------- CONSULT -----------------------------------------*/



.consult {
  background-image: url(../assets/images/backgrounds/bg2.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  color: white;
  height: 680px;
}


.consult-container {
  text-align: left;
  
}

.consult-container p {
  font-size: 20px;
  margin-bottom: 36px;
}


.heading {
  padding-top: 100px;
  text-transform: uppercase;
  text-align-last: left;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px;
}

/*----------------------------------------- CAROUSEL -----------------------------------------*/




.carousel {
  display: flex;
  align-items: center;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.watch-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 303px);
  grid-template-rows: repeat(2, 442px);
  grid-gap: 17px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.watch-list-item {
  border: 1px solid #E8E8E8;

}

.catalog {
  margin: auto;
}

.catalog-menu {
  display: flex;
  justify-content: space-around;

  list-style-type: none;
}

.catalog-btn {
  background-color: white;
}


/*------------------------------- Отзывы --------------------------------*/

.reviews-list {
  display: grid;
  grid-template-columns: 1fr 170px 700px 1fr;
  grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;
  box-sizing: border-box;
  grid-template-areas: 
    ". pic1 text1 ."
    ". pic2 text2 ."
    ". pic3 text3 .";
}

.review-1-pic {
  grid-area: pic1;
}

.review-1-text {
  grid-area: text1;
}

.review-2-pic {
  grid-area: pic2;

}

.review-2-text {
  grid-area: text2;

}

.review-3-pic {
  grid-area: pic3;

}

.review-3-text {
  grid-area: text3;

}

.btn {
  background-color: #C70101;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  padding: 10px 25px;
}

.companies {
  font-family: 'MuseoModerno', cursive;
}

.custom {
  font-family: 'MuseoModerno', cursive;
  color: #C70101;
}

.contacts {
  color: white;
  background-color: #C70101;
}

.section {
  /* width: 950px; */
  /* height: auto; */
  /* border: 1px solid black; */
}



/* . */

.forms {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
}

.map {
  z-index: 0;
}

.footer {
  background-color: #C70101;
  position: absolute;
  /* z-index: 1; */
  left: 730px;
  /* bottom: 360px; */
  width: 460px;
  height: 270px;
}