html {
  font-family: 'MuseoModerno', normal, sans-serif;
}

body {
  margin: 0;
  background-color: #F6F6F6;
  
}

img {
  max-width: 100%;
}

.container {
  width: 100vw;
}

.header {
  position: absolute;
  top: 40px;
  left: 490px;
  width: 950px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.main {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: end;
}

.icons {
  list-style-type: none;

  display: flex;
  justify-content: flex-end;
}

.benefits-list {
  list-style-type: none;

  display: flex;
  justify-content: space-around;
}


/* .first-background {
  width: 100vw;
  background-image: url(../assets/images/backgrounds/bg.png);
  background-repeat: no-repeat;
  
} */

.first-screen {
  background-image: url(../assets/images/backgrounds/bg.png);
  background-repeat: no-repeat;
  /* background-size: 100vw; */
  height: 600px;
  color: white;
}


/* .consult-background {
  width: 100vw;
  background-image: url(../assets/images/backgrounds/bg2.png);
  background-repeat: no-repeat;
} */

.consult {
  background-image: url(../assets/images/backgrounds/bg2.png);
  background-repeat: no-repeat;
  /* background-size: 100vw; */
  color: white;
  height: 680px;
}

.carousel {
  display: flex;
  align-items: center;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.watch-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 303px);
  grid-template-rows: repeat(2, 442px);
  grid-gap: 17px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.watch-list-item {
  border: 1px solid #E8E8E8;

}


.catalog-menu {
  display: flex;
  justify-content: space-around;

  list-style-type: none;
}

.catalog-btn {
  background-color: white;
}


/*------------------------------- Отзывы --------------------------------*/

.reviews-list {
  display: grid;
  grid-template-columns: 1fr 170px 700px 1fr;
  grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;
  box-sizing: border-box;
  grid-template-areas: 
    ". pic1 text1 ."
    ". pic2 text2 ."
    ". pic3 text3 .";
}

.review-1-pic {
  grid-area: pic1;
}

.review-1-text {
  grid-area: text1;
}

.review-2-pic {
  grid-area: pic2;

}

.review-2-text {
  grid-area: text2;

}

.review-3-pic {
  grid-area: pic3;

}

.review-3-text {
  grid-area: text3;

}

.btn {
  background-color: #C70101;
  border: none;
  border-radius: 5px;

}

.companies {
  font-family: 'MuseoModerno', cursive;
}

.custom {
  font-family: 'MuseoModerno', cursive;
  color: #C70101;
}

.contacts {
  color: white;
  
}

.section {
  /* width: 950px; */
  border: 1px solid black;
}

.heading {
  text-align: center;
  text-transform: uppercase;
}

.consult p {
  text-align: center;
}

.forms {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
}